#------------------------------------------------------------------------------
# This file is managed by Juju
#------------------------------------------------------------------------------

# Settings for database connexion

DATABASES = {
    "default": {
        "ENGINE": '{{ db_engine }}',
        "NAME": '{{ db_database }}',
        "USER": '{{ db_user }}',
        "PASSWORD": '{{ db_password }}',
        "HOST": '{{ db_host }}',
        "PORT": '',
    }
}

DATABASE_ENGINE=DATABASES

