#--------------------------------------------------------------
# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

MONGO_DB = {'name': '{{ db_database }}',
            'host': '{{ db_host }}',
            'port': 27017
}
