#------------------------------------------------------------------------------
# This file is managed by Juju
#------------------------------------------------------------------------------

MONGO_DB = {'name': '{{ db_database }}',
            'host': '{{ db_host }}',
            'port': 27017
}
