#--------------------------------------------------------------
# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

# Netrc configuration for VCS repo

machine {{ repos_domain }}
    login {{ repos_username }}
    password {{ repos_password }}

